.containerList {
  border: solid 5px black;
  border-radius: 20px;
  padding: 0px;
  padding-top: 10px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(175, 159, 159);
}
.containerWrap {
}
.userName {
  font-size: 50px;

  color: black;
}
.userData {
  font-size: 30px;
  color: rgb(23, 18, 27);
}

.container {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-top: solid 5px;
  border-color: rgb(86, 59, 59);
  display: flex;
  justify-content: center;
}
.userItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}
.userItem:not(:last-child) {
  border-right: solid 5px;
}
.userPhoto {
  width: 200px;
  border: solid 3px;
  border-radius: 300px;
  background-color: cadetblue;
}
span {
  color: aliceblue;
}
